
@{
    ViewData["Title"] = "CustomerScreen";
}

<h1>CustomerScreen</h1>
<body>
    <form action="Add" method="post">
        CustomerName <input type="text" name="CustomerName" value="" /><br />
        CustomerCode <input type="text" name="CustomerCode" value="" /><br />
        CustomerAge <input type="text" name="CustomerAge" value="" /><br />
        <input type="submit" name="submit" value="Submit Customer" />
    </form>
</body>
